/* Importação */
@import url(/css/variaveis.css);

/* Estilização Desktop */

@media screen and (min-width: 48.007rem) and (max-width: 100rem) {
    body {
        font-family: var(--roboto);
        font-size: 1rem;
        color: var(--blue-800);
        background-color: var(--blue-700);
        margin: 13.719rem 17.75rem;
    }

    /* Estilização Página Inicial */
    .conteudo__normal {
        /* display: none; */
        display: flex;
        flex-direction: row-reverse;
        background-color: var(--white);
        width: 56.5rem;
        height: 40.063rem;
        align-items: center;
        border-radius: 36px;
    }

    .img__inicial {
        background-image: url(/img/illustration-sign-up-desktop.svg);
        width: 25rem;
        height: 37.063rem;
        margin: 1.4rem 2rem 1.4rem 1.9rem;
    }

    .conteudo__texto {
        width: 23.5rem;
        padding-right: 2.125rem;
    }

    .texto__inicial {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .inicial__titulo {
        font-size: 3.5rem;
        line-height: 100%;
        font-weight: 600;
        color: var(--blue-800);
    }

    .inicial__paragrafo {
        padding-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 150%;
        color: var(--blue-800);
    }

    .conteudo__lista {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-bottom: 2rem;
    }

    .lista__item {
        display: flex;
        gap: 1.5rem;
        align-items: start;
        color: var(--blue-800);
    }

    .lista__item img {
        width: 1.2rem;
    }

    .conteudo__cadastro {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        padding-right: 2.125rem;
    }

    .lista__texto {
        line-height: 150%;
    }

    .cadastro__texto {
        display: flex;
        justify-content: space-between;
        color: var(--blue-800);
        font-size: .75rem;
        font-weight: 600;
    }

    .texto__normal {
        color: var(--blue-800);
    }

    .texto__active {
        color: var(--red);
        display: none;
    }

    .cadastro__input {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    input:focus {
        outline: none;
    }

    #cad__email {
        padding: 1rem 1.5rem;
        border: .063rem solid var(--grey);
        border-radius: .5rem;
        color: var(--blue-800);
        font-weight: 400;
        font-size: 1rem;
    }

    b {
        font-weight: 600;
    }

    #cad__email::placeholder {
        color: var(--grey);
        font-weight: 400;
    }

    #cad__email:focus {
        border: .099rem solid var(--blue-800);
    }

    #cad__email.error {
        border-color: var(--red);
        color: var(--red);
        background-color: rgba(255, 97, 85, 0.1);
    }

    #cad__botao {
        padding: 1rem 1.5rem;
        border: none;
        border-radius: .5rem;
        background-color: var(--blue-800);
        font-size: 1rem;
        font-weight: 600;
        color: var(--white);
    }

    #cad__botao:hover {
        background: var(--gradient-red);
        box-shadow: 0px 10px 15px rgba(255, 97, 85, 0.5);
    }
    
    /* Estilização Página de Sucesso para Cadastro */
    .msg__sucess {
        display: none;
        margin-left: 12.5rem;
        padding: 4rem 3.75rem;
        background-color: var(--white);
        border-radius: 1.5rem;
        width: 23.875rem;
        height: 24.5rem;
    }

    .sucess__active {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .sucess__active img {
        width: 4rem;
    }

    .active__titulo {
        font-size: 3.5rem;
        font-weight: 800;
        color: var(--blue-800);
    }

    .active__paragrafo {
        line-height: 150%;
        padding-bottom: 3rem;
    }

    .btn__dismiss {
        padding: 1rem 6.7rem;
        border: none;
        border-radius: .5rem;
        color: var(--white);
        line-height: 150%;
        font-weight: 600;
        background-color: var(--blue-800);
        width: 23.8rem;
    }

    .btn__dismiss:hover {
        background: var(--gradient-red);
        box-shadow: 0px 10px 15px rgba(255, 97, 85, 0.5);
    }
}